---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

    <div id="footer">
      <div id="footer-text"></div>
    </div>
    <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=rigbreN0Y7lhwWvw4zYLgcSRc4ShoFO8JCCcRtGGd6Q&cl=ffffff&w=a"></script>
      <p><center> © 2024 Lab · test </center></p>
    </div>
    
<!div class="footer_site">
<!r/>
  <!script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=rigbreN0Y7lhwWvw4zYLgcSRc4ShoFO8JCCcRtGGd6Q&cl=ffffff&w=a"></script>
<!div class="footer_copyright">
  <!<p><center> © 2024 Lab · test>
<!/div>
<!/div>
    
  </body>
</html>
